:root {
  --background: hsl(210, 20%, 98%);
  --foreground: hsl(0, 0%, 66%);
  --button-text-1: hsl(210, 20%, 98%);
  --button-text-2: hsl(0, 0%, 33%);
  --primary: hsl(0, 0%, 19%);
  --start: hsl(355, 67%, 62%);
  --start-focus: hsl(355, 100%, 26%);
  --restart: hsl(206, 13%, 25%);
  --restart-focus: hsl(206, 12%, 43%);
  --resume: hsl(115, 66%, 82%);
  --resume-focus: hsl(115, 100%, 25%);
  --pause: hsl(55, 66%, 76%);
  --pause-focus: hsl(55, 100%, 23%);
  --reset: hsl(180, 6%, 93%);
  --reset-focus: hsl(206, 13%, 25%);
  --radius: 8px;
  --hover: hsl(216, 20%, 95%);
  --active: hsl(210, 20%, 90%);
  --focus: 1px solid hsla(224, 71%, 4%, 0.5);
  --clock: hsl(0, 0%, 29%);
  --border: hsl(0, 1%, 85%);
  --tab-focus: 1px solid hsl(0, 0%, 67%);
}
[data-theme="dark"] {
  --clock: hsl(0, 0%, 80%);
  --background: hsl(210, 20%, 10%);
  --foreground: hsl(240, 1%, 22%);
  --primary: hsl(0, 0%, 80%);
  --hover: hsl(240, 10%, 20%);
  --active: hsl(210, 20%, 5%);
  --focus: 1px solid hsl(224, 60%, 70%);
  --border: hsl(0, 0%, 67%);
  --tab-focus: 1px solid hsl(0, 1%, 85%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button,
fieldset,
input {
  all: unset;
}

html,
body {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
