.container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 95%;
  .right {
    display: flex;
  }
  .link {
    border-radius: 0.33rem;
    margin-right: 0.3rem;
    transition: outline 0.3s ease-in-out;
    height: 32px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      background-color: var(--active);
    }
    &:focus {
      
      outline: var(--focus);
    }
    &:hover {
      background: var(--hover);
    }
  }
}
