.list {
  display: flex;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  display: flex;
  width: max(380px, 40vw);
  gap: 1px;
  .tab {
    flex: 2;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;

    text-align: center;
    color: var(--foreground);
    &:first-child {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }
    &:last-child {
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
    &[data-state="active"] {
      color: var(--primary);
    }
    &:focus {
      outline: var(--tab-focus);
    }
    &::selection {
      background-color: transparent;
    }
    &:hover {
      cursor: default;
      color: var(--primary);
    }
  }
  .icon_container {
    padding: 0;
    flex: 1;
  }
  .icon {
    height: 1rem;
    width: 1rem;
    opacity: 0.6;
  }
}
