.toggle {
  border-radius: 0.33rem;
  background: none;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.toggle:active {
  background-color: var(--active);
}
.toggle:focus {
  outline: none;
  box-shadow: var(--focus);
}
.toggle:hover {
  background: var(--hover);
}
